<tabset>
	<tab heading="新的通知" disabled="!isTeacher()">
		<br>
		<form>
			<div class="form-group">
				<label class="control-label">通知内容：</label>
				<textarea class="form-control" maxlength="200" style="resize:none" rows="3">
				</textarea>
			</div>
			<div class="form-group text-right">
				<button type="button" class="btn btn-primary">
					<span class="glyphicon glyphicon-send"></span>
					&nbsp;发布通知
				</button>
			</div>
		</form>
	</tab>
	<tab heading="查看通知">
		<br>
		<alert ng-repeat="notice in notices" type="{{notice.type}}" close="closeAlert($index)" class="repeat-item">
			<p>{{notice.content}}</p>
			<hr>
			<p class="text-right"><strong>{{notice.from}}</strong>&nbsp;发布于&nbsp;<strong>{{notice.time}}</strong></p>
		</alert>
	</tab>
</tabset>