<tabset>
	<tab heading="查看成绩">
		<br>
		<form>
			<div class="form-group">
				<label class="control-label">选择学生：</label>
				<select class="form-control" ng-model="nowSelectedSno">
					<option ng-repeat="stulist in stulists" value="{{stulist.id}}">{{stulist.id}} - {{stulist.name}}</option>
				</select>
			</div>
			<hr>
		</form>
		<label>成绩查询：</label>
		<div class="input-group">	
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-search"></span>	
			</span>
			<input type="text" class="form-control" placeholder="请输入关键词搜索……" ng-model="search">
		</div>
		<br>
		<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>考试科目</th>
						<th>考试成绩</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="grade in grades | filter:search">
						<td>{{$index}}</td>
						<td>{{grade.course}}</td>
						<td>{{grade.grade}}</td>
					</tr>
				</tbody>
		</table>
	</tab>
	<tab heading="录入成绩" ng-show="isTeacher()">	
		<br>
		<form>
			<div class="form-group">
				<label class="control-label">选择学生：</label>
				<select class="form-control"  ng-model="nowSelectedSno">
					<option ng-repeat="stulist in stulists" value="{{stulist.id}}">{{stulist.id}} - {{stulist.name}}</option>
				</select>
			</div>
			<hr>
			<div class="form-group">
				<label class="control-label">选择科目：</label>
				<select class="form-control" id="course" ng-model="uploadObjectid">
					<option ng-repeat="courselist in courselists" value="{{courselist.id}}">
						{{courselist.name}}
					</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">考试成绩：</label>
	    	  	<input type="number" class="form-control" id="grade" placeholder="请输入最终考试成绩" ng-model="uploadGrade">
			</div>
			<div class="form-group text-right">
				<button ng-click="gradeSubmit()" type="button" class="btn btn-primary">
					<span class="glyphicon glyphicon-pencil"></span>
					&nbsp;确认提交
				</button>
			</div>
		</form>
	</tab>
</tabset>