<tabset>
	<tab heading="查看留言">
		<br>
		<alert ng-repeat="comment in comments" type="info" close="closeAlert($index)" class="repeat-item">
			<p><strong>发往：</strong>{{comment.to}}</p>
			<p><strong>内容：</strong>{{comment.content}}</p>
			<hr>
			<p class="text-right"><strong>{{comment.from}}</strong>&nbsp;发布于&nbsp;<strong>{{comment.datetime}}</strong></p>
		</alert>
	</tab>
	<tab heading="我要留言">
		<br>
		<form>
			<div class="form-group">
				<label class="control-label">发往：</label>
		      	<input type="text" class="form-control" id="messageTo" placeholder="请输入您要发往的对象">
			</div>
			<div class="form-group">
				<label class="control-label">内容：</label>
				<textarea class="form-control" maxlength="200" style="resize:none" rows="3">
				</textarea>
			</div>
			<div class="form-group text-right">
				<button type="button" class="btn btn-primary">
					<span class="glyphicon glyphicon-comment"></span>
					&nbsp;发送留言
				</button>
			</div>
		</form>
	</tab>
</tabset>