<tabset>
	<tab heading="编辑资料">
		<br>
		<form>
			<div class="form-group">
				<label class="control-label">姓名：</label>
		   	  	<input type="text" class="form-control" id="" placeholder="">
			</div>
			<div class="form-group">
				<label class="control-label">性别：</label>
		   	  	<input type="text" class="form-control" id="" placeholder="">
			</div>
			<div class="form-group">
				<label class="control-label">生日：</label>
		   	  	<input type="text" class="form-control" id="" placeholder="">
			</div>
			<div class="form-group">
				<label class="control-label">职业：</label>
		   	  	<input type="text" class="form-control" id="" placeholder="">
			</div>
			<div class="form-group">
				<label class="control-label">联系信息：</label>
		   	  	<input type="text" class="form-control" id="" placeholder="">
			</div>
			<div class="form-group text-right">
				<button type="button" class="btn btn-primary">
					<span class="glyphicon glyphicon-user"></span>
					&nbsp;添加人员
				</button>
			</div>
		</form>
	</tab>
	<tab heading="查看资料"  ng-show="isTeacher()">
		<br>
		<div class="input-group">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-search"></span>	
			</span>
			<input type="text" class="form-control" placeholder="请输入关键词搜索……" ng-model="search">
		</div>
		<br>
		<div class="col-md-3" ng-repeat="personinfo in personinfos | filter:search">
			<alert type="info" class="repeat-item">
				<h3><strong>{{personinfo.name}}</strong></h3>
				<hr>
				<p><strong>性别：</strong>{{personinfo.sex}}</p>
				<p><strong>生日：</strong>{{personinfo.birthday}}</p>
				<p><strong>职业：</strong>{{personinfo.job}}</p>
				<p><strong>联系信息：</strong>{{personinfo.contact}}</p>
			</alert>
		</div>
	</tab>
</tabset>