<tabset>
	<tab heading="编辑资料">
		<br>
		<form>
			<div class="form-group">
				<label class="control-label">姓名：</label>
		   	  	<input type="text" class="form-control" id="inputName" ng-model="profiles.name" placeholder="请输入您的姓名">
			</div>
			<div class="form-group">
				<label class="control-label">性别：</label>
					<select class="form-control" id="inputSex" ng-model="profiles.sex" >
						<option value="1">男</option>
						<option value="2">女</option>
					</select>
			</div>
			<div class="form-group">
				<label class="control-label">电子邮箱：</label>
		   	  	<input type="text" class="form-control" id="inputEmail" ng-model="profiles.email" placeholder="请输入您的电子邮箱">
			</div>
			<div class="form-group text-right">
				<button type="button" class="btn btn-primary" ng-click="updateProfile()">
					<span class="glyphicon glyphicon-user"></span>
					&nbsp;更新资料
				</button>
			</div>
		</form>
	</tab>
	<tab heading="查看资料"  ng-show="false">
		<br>
		<div class="input-group">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-search"></span>	
			</span>
			<input type="text" class="form-control" placeholder="请输入关键词搜索……" ng-model="search">
		</div>
		<br>
		<div class="col-md-3" ng-repeat="personinfo in personinfos | filter:search">
			<alert type="info" class="repeat-item">
				<h3><strong>{{personinfo.name}}</strong></h3>
				<hr>
				<p><strong>性别：</strong>{{personinfo.sex}}</p>
				<p><strong>生日：</strong>{{personinfo.birthday}}</p>
				<p><strong>职业：</strong>{{personinfo.job}}</p>
				<p><strong>联系信息：</strong>{{personinfo.contact}}</p>
			</alert>
		</div>
	</tab>
</tabset>